@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

html, body {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Ajusta el “offset” de las anclas por la altura del navbar */
section[id] {
  scroll-margin-top: 110px; /* ajusta si tu navbar es más chico/grande */
}
